.Playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 0.7;
    padding: .88rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
}

.Playlist h2{
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #6f6f6f;
  padding: 6.5px 0;
}

.NameAndSave{
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.Playlist .playlistName {
  float: left;
  /* width: 60%; */
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #6f6f6f;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
}
.Playlist-save {
  float: right;
  cursor: pointer;
  width: 10rem;
  padding: .60rem 0;
  border-radius: 54px;
  border-width: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #6c41ec;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
}

.Playlist-save:hover {
  background-color: rgba(108, 65, 233, .7);
}

.Playlist-delete {
  float: right;
  cursor: pointer;
  width: 10rem;
  padding: .60rem 0;
  border-radius: 54px;
  border-width: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #dd0d0d;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
}

.Playlist-delete:hover {
  background-color: rgba(108, 65, 233, .7);
}