.Playlist {
  display: flex;
  max-width: 42%;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.7;
  padding: .88rem;
  background-color: rgb(36, 36, 36);
  min-height: 60vh;
  margin-bottom: 2vmax;
}

.plHeader{
  width: 100%;
  height: 2.8rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(256, 256, 256, 0.8);

}

.Playlist h2{
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  /* padding-top: 8px; */
  color: #ffffff;
}

.Playlist input {
  width: 60%;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.plHeader button{
  float: right;
  cursor: pointer;
  width: 10rem;
  padding: .60rem 0;
  border-radius: 54px;
  border-width: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #1DB953;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
}
.plHeader button:hover {
  background-color: rgb(24, 145, 66);
}

/* Styling for the delete button in SelectedPlaylist */
.plHeader .playlistDelete {
  background-color: #dd0d0d;
}

.plHeader .playlistDelete:hover {
  background-color: #a80a0a;
}
@media only screen and (max-width: 870px) {
  .Playlist {
    min-width: 90%;
  }
  
}