.Playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0.7;
  padding: .88rem;
  background-color: rgb(36, 36, 36);
  min-height: 60vh;
  margin-bottom: 2vmax;
}

.Playlist h2{
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #6f6f6f;
  padding: 6.5px 0;
}

.plHeader{
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.Playlist .playlistName {
  float: left;
  border: 0;
  outline: 0;
  background: transparent;
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
  color: #fff;
}

.plHeader button{
  float: right;
  cursor: pointer;
  width: 10rem;
  border-bottom: 1px solid #6f6f6f;
  padding: .60rem 0;
  border-radius: 54px;
  border-width: 0px;
  font-family: 'Poppins', sans-serif;
  background-color: #1DB953;
  text-align: center;
  font-size: .83rem;
  transition: background-color .25s;
  color: #fff;
  font-weight: 500;
}
.plHeader button:hover {
  background-color: rgb(24, 145, 66);
}

.plHeader .Playlist-delete {
  background-color: #dd0d0d;
}

.plHeader .Playlist-delete:hover {
  background-color: #a80a0a;
}