body,
html,
#root {
  background-color: #181818;
}

html {
  font-size: 18px;
}

h1 {
  width: 100%;
  padding: .77rem 0;
  background-color: rgb(36, 36, 36);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
}

h1 .highlight {
  color: #1DB953;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.55rem;
}

.App {
  max-height: 100vh;
  padding: 0 2vmax 2vmax 2vmax;
  /* background-image: url('./background_photo_desktop.jpg'); */

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #fff;
}